/* Denna fil skall innehålla din CSS kod */
* {
    margin: 0;
}

h5 {font-family: sans-serif;
margin: 3px;
font-size: large;
}


body {
    background-color:rgb(168, 47, 255);
}

h1 {
    width:75%;
    height:200px;
    /*border: solid 2px green;*/
    border-style: solid;
    border-width: 2px;
    border-color: green;
    background-color: rgba(255,0,0,0.8);
}

#blockis {
    background: hotpink;
    width:50%;
}

span {
    background-color: rgb(255,232,123);
    
}

.gridWrapper {
    height: 100vh;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
background: rgb(173, 216, 230);
    grid-template-areas:
    " hd hd hd hd hd " 
    " nv nv nv nv as " 
    " a1 a1 a1 a1 as "
    " a2 a2 a3 a3 as "
    " a4 a5 se a6 as "
    " a7 a7 a7 a7 as " 
    " a8 a8 a8 a8 as "
    " fo fo fo fo fo " ;
    grid-gap: 2px;
}

.header {
    grid-area: hd;
    background: salmon;
}

.nav {
    grid-area: nv;
background: crimson ;
}

.article1{
    grid-area: a1;
    background: lime;
}
.article2{
    grid-area: a2;
    background: cyan;
}
.article3{
    grid-area: a3;
    background: rosybrown;
}
.article4{
    grid-area: a4;
    background: seagreen;
}
.article5{
    grid-area: a5;
    background: fuchsia;
}
.article6{
    grid-area: a6;
    background: purple;
}
.article7{
    grid-area: a7;
    background: aquamarine;
}
.article8{
    grid-area: a8;
    background:red ;
}
.aside {
    grid-area: as;
    background:orange;

}
.footer {
    grid-area: fo;
    background: indigo ;
}





.innerGridWrapper {
    grid-area: se;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2px;
    
    ;
}

.innerdiv {
    background: forestgreen;
}